In [2]:
import pandas as pd
import psycopg2 as pg

import database

In [3]:
connection = database.connect_db()

In [9]:
# use atom ctr-D to easily copy-paste new fields
query = """
SELECT
    pitch_0.mean AS p0_mean,
    pitch_0.mode AS p0_mode,
    pitch_0.median AS p0_median,
    pitch_0.amax AS p0_max,
    pitch_0.amin AS p0_min,
    pitch_0.std AS p0_std,
    
    pitch_1.mean AS p1_mean,
    
    pitch_2.mean AS p2_mean,
    
    pitch_3.mean AS p3_mean,
    
    pitch_4.mean AS p4_mean,
    
    pitch_5.mean AS p5_mean,
    
    pitch_6.mean AS p6_mean,
    
    pitch_7.mean AS p7_mean,
    
    pitch_8.mean AS p8_mean,
    
    pitch_9.mean AS p9_mean,
    
    pitch_10.mean AS p10_mean,
    
    pitch_11.mean AS p11_mean
    
    
FROM pitch_0
LEFT JOIN pitch_1  ON pitch_0.song = pitch_1.song  AND pitch_0.segment = pitch_1.segment
LEFT JOIN pitch_2  ON pitch_0.song = pitch_2.song  AND pitch_0.segment = pitch_2.segment
LEFT JOIN pitch_3  ON pitch_0.song = pitch_3.song  AND pitch_0.segment = pitch_3.segment
LEFT JOIN pitch_4  ON pitch_0.song = pitch_4.song  AND pitch_0.segment = pitch_4.segment
LEFT JOIN pitch_5  ON pitch_0.song = pitch_5.song  AND pitch_0.segment = pitch_5.segment
LEFT JOIN pitch_6  ON pitch_0.song = pitch_6.song  AND pitch_0.segment = pitch_6.segment
LEFT JOIN pitch_7  ON pitch_0.song = pitch_7.song  AND pitch_0.segment = pitch_7.segment
LEFT JOIN pitch_8  ON pitch_0.song = pitch_8.song  AND pitch_0.segment = pitch_8.segment
LEFT JOIN pitch_9  ON pitch_0.song = pitch_9.song  AND pitch_0.segment = pitch_9.segment
LEFT JOIN pitch_10 ON pitch_0.song = pitch_10.song AND pitch_0.segment = pitch_10.segment
LEFT JOIN pitch_11 ON pitch_0.song = pitch_11.song AND pitch_0.segment = pitch_11.segment;
"""

In [ ]:
result = cursor.execute(query)

In [10]:
df = pd.read_sql(query, connection)

In [11]:
df.head()

,p0_mean,p1_mean,p2_mean,p3_mean,p4_mean,p5_mean,p6_mean,p7_mean,p8_mean,p9_mean,p10_mean,p11_mean
0,0.478847,0.396772,0.125975,0.122057,0.182186,0.473038,0.529897,0.167450,0.168881,0.158108,0.323886,0.237460
1,0.535089,0.460853,0.153411,0.151650,0.216026,0.497114,0.575560,0.228770,0.219865,0.219131,0.368779,0.272720
2,0.532976,0.458424,0.156275,0.176226,0.216139,0.513915,0.563739,0.233496,0.231977,0.233574,0.395313,0.293611
3,0.560920,0.466850,0.166367,0.164566,0.213470,0.491722,0.558483,0.228801,0.232974,0.227487,0.386434,0.293144
4,0.553595,0.455063,0.161908,0.164667,0.226997,0.517006,0.575496,0.243437,0.243798,0.274195,0.440270,0.306196

In [12]:
connection.close()

In [13]:
del df